<style>
table, th, td {
  border: 1px solid black;
}
</style>

<h1>Comunicazioni:</h1>


 <table style="width:100%">
  <tr>
    <th>Descrizione</th>
    <% if can? :destroy, Comunication %>
      <th>Azioni</th>
    <% end %>
  </tr>

  <% @comunications.each do |comunication| %>
  <tr>
    <td><%= comunication.description %></td>
    <% if can? :destroy, Comunication %>
		  <td><%= link_to "Elimina comunicazione", comunication_path(comunication.id), method: :delete,
                   data: { confirm: "Are you sure?" } %></td>
    <% end %>
  </tr>
  <% end %> 
 
</table> 

<hr>

<h2> Azioni </h2>

<ul>
  <li><%= link_to "Crea nuova comunicazione", new_comunication_path %></li>
  <li><%= link_to "Back Course Lista", courses_path %></li>
</ul>