<style>
table, th, td {
  border: 1px solid black;
}
</style>

<% if current_user.is_admin? || current_user.is_gymClient? %>

<h1>Comunicazioni:</h1>


 <table style="width:100%">
  <tr>
    <th>Descrizione</th>
    <% if can? :destroy, Comunication %>
      <th>Azioni</th>
    <% end %>
  </tr>

  <% @comunications.each do |comunication| %>
  <tr>
    <td><%= comunication.description %></td>
    <% if can? :destroy, Comunication %>
		  <td><%= link_to "Elimina comunicazione", comunication_path(comunication.id), method: :delete,
                   data: { confirm: "Sei sicuro?" } %></td>
    <% end %>
  </tr>
  <% end %> 
 
</table> 

<hr>

<!--- <h2> Azioni </h2> --->

<ul>
  <% if can? :create, Comunication %>
  <li><%= link_to "Crea nuova comunicazione", new_comunication_path %></li>
  <% end %>
  <li><%= link_to "Torna ai corsi", courses_path %></li>
</ul>
<% else %>
  <h1>Il tuo account è stato bannato dagli amministratori di OlympusGym</h1>
<% end %>