<% if current_user.is_admin? || current_user.is_gymClient? %>

<br>

<h1 class="text-bold" style="margin-left: 5%; display: inline;">Comunicazioni</h1>
<% if can? :create, Comunication %>
<%= link_to("Crea comunicazione", new_comunication_path, :class=>"btn btn-primary", :style=>"display: inline; position: relative; bottom: 8px; left: 15px; ") %>
<% end %>

  <div class="comunications-table container-fluid">
   <table style="width:90%" class="table table-hover table-secondary center">
    <tr>
      <thead class="table-dark">
        <th>Descrizione</th>        
        <% if can? :destroy, Comunication %>
        <th>Azioni</th>
        <% end %>
      </thead>
      
    </tr>

    <% @comunications.reverse.each do |comunication| %>
    <tr>
      <td><%= comunication.description %></td>
      <% if can? :destroy, Comunication %>
  		  <td style="width:25%;"><%= link_to("Elimina comunicazione", comunication_path(comunication.id), method: :delete,
                     data: { confirm: "Vuoi eliminare questa comunicazione?" }, :class=>"btn btn-danger") %></td>
      <% end %>
    </tr>
    <% end %> 
   
   </table> 
  </div>


<br><br><br>



<% else %>
  <h1 class="ban-msg">Il tuo account è stato bannato dagli amministratori di OlympusGym</h1>
<% end %>