/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.text-bold {
    font-weight: bolder;
}
.text-white {
    color: white;
}

.logo-name {
    font-weight: 900;
    font-size: 300px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.courses-column {
    min-width: 25%;
    max-width: 50%;
}
.users-column {
    min-width: 25%;
    max-width: 50%;
}

.navbar {
    max-width: 44%;
}
#navbarDropdown {
    color: #0275d8;
}
.dropdown-menu .dropdown-item {
    color: #0275d8;
}

.notification, .greeting {
    margin-left: 5%;
}

.ban-msg {
    padding-top: 2rem;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



nav a {
    font-size: 1.4em !important;
}

body {
    background-color: #f7f7f7;
}